<div class="list-group">
  <a href="{{base_url()}}/admin/galerias" class="list-group-item">Galerias</a>
  <a href="{{base_url()}}/admin/links" class="list-group-item">Links</a>
  <a href="{{base_url()}}/admin/noticias" class="list-group-item">Noticias</a>
  <a href="{{base_url()}}/admin/secciones" class="list-group-item">Secciones</a>
</div>
