<footer id="footer">
  <div class="container">
      <div class="col-md-4 col-sm-6">
          <img src="{{base_url()}}/img/logowhite.png" alt="SMC" class="logo">
          <p>
            Every Mac comes with OS X Mountain Lion,
            which includes features that make teaching,
            learning, and collaborating </p>
      </div>
      <!-- /.col-md-3 -->

      <div class="col-md-4 col-sm-6">
          
      </div>

      <div class="col-md-4 col-sm-6">
          <h4>Contacto</h4>
          <ul class="listicons">
            <li>
              <i class="fa fa-envelope"></i> info@monitoreocultivo.com
            </li>
            <li>
              <i class="fa fa-phone"></i> (03562) 466520 - Cel. (03562) 15669216
            </li>
            <li>
              <i class="fa fa-home"></i> Güemes 184 - San Guillermo
            </li>
            <li>
              Santa Fe - Argentina
            </li>
          </ul>
      </div>

  </div>
  <!-- /.container -->
</footer>
